/*content*/
@media screen and (min-width:100px) and (max-width:700px) {
body#main{
    height: 1vh;
}
    div.content{
        position: absolute;
        align-self: baseline;
        width: 90vw;
        height: 500px;
        
    }
    p#longp{
        font-size: 3vw;
        line-height: 10px
}
p#smallp{
    font-size: 3vw;
        line-height: 7px;
        text-indent: 0;
}
p#ulp{
    font-size: 4vw
}
h2#smallh{
    font-size: 5vw;
    width: 90%;
    height: 2vh;
    padding-top: 8px;
}
p#smallheadp{
    top: 30%;
    font-size: 5vw;
}
h1#head{
    font-size: 7vw;
    top: 0;
}
ul.flex-container{
    top:80%;
    left: 2%;
    width: 95%;
}
li.flex-item{
    margin-left: 0;
    padding-left: 0;
}
img#image{
    border-width: 2px;
    width: 50px;
}
div.flex2box{
      top: 18.5%;
}
}


#main {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 80%;
    height: 170vh;
   margin-left: auto;
   margin-right: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    align-self: center;
    width: 80%;
    margin-top: 0%;
    height: 80%;
   
    padding: 0px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    
}


/* font entry*/
.itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  #smallheadp{
    position: absolute;
    font-size: 35px;
    top: 40%;
    left: 5%;
}
#longp{
    text-indent: 2em;
    padding-left: 0px;
    margin-left: 10px;
    line-height: 20px;
    font-size: 19px;
}
#smallp{
    text-indent: 2em;
    padding-left: 0px;
    line-height: 16px;
    font-size: 19px;
}
#ulp{
    padding-left: 15px;
    line-height: 0px;
    font-size: 21px;
    
}

#head{
    font-size: 50px;
    position: absolute;
width: max-content;

top: 15px;
left: 5%;
}
h1::before{
    content: "";
    position:absolute;
    background: linear-gradient(to right, red, rgb(68, 0, 253));
    width: 100%;
    height: 10%;
    top: 100%;
    left: 0px    ;
    opacity: 0.3;
}
#smallh{    
    font-size: 35px;
    background: linear-gradient(to right,blue,rgb(0, 250, 21));
    width: 90%;
    height: 5.1vh;
  padding-top: 20px;
  margin-top: 0px;
  padding-left: 15px;
  margin-bottom: 0px;
  margin-left: 5px;
    text-align: start;
    color: #f0f0f0;
}

/* block */

#image-box{
position: absolute;
width: 13%;
top: 5%;
right: 12%;
}

#image{
    border-width: 5px;
border-style: solid;
}

.topbox{
 position: relative;
 width: 100%;
 height: 22%;
left: 0;
top: 0;
    background-color:#f0f0f0;
}
.flex2box{
    position: absolute;
    width: 50%;
    height: 77.2%;
    bottom: 0;
    right: 0;
    background-color: #f0f0f0;
   
    
}

/* flex box*/

.flex-container {
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-evenly;
    position: relative;
    top: 90%;
    left: 0;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .flex-item {
   position: relative;
    background: #f0f0f0;
    width: 100%;
    height: 60%;
    margin-top: 0px;
    margin-left: 10px;
    padding-left: 20px;
    margin-bottom: 0px;
    line-height: 5px;
    color: rgb(0, 0, 0);
    justify-content: center;
    justify-items: center;
    text-align: start;
  }

 /* animation*/
 @keyframes spin { 
    0% { 
        transform: rotate(360deg);
    } 
}
@keyframes opacity {
50% {
    opacity: 0;
    
}
100% {
    opacity: 1;
 
} 
}
@keyframes scale2 {
    100% {
         transform: scale(1.2,1.2)
    }
}
@keyframes scale {
    20% {
         transform: scale(0.8,0.8)
    }}



 
