/*content*/
@media only screen and (min-width: 992px) {
    body {
      font-size: 16px;
      width: 80%;
      margin: auto;
    }
  }
  
  /* styles for tablet devices */
  @media only screen and (min-width: 768px) and (max-width: 991px) {

            .content {
         max-width: 500px;
                margin: auto;
                display: flex;
    justify-content: center;
    align-items: center;

            }
  }
  
  }
html,
body {
    background-image: url(background.jpg);
    width: 210mm;
    height: 297mm;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    align-self: auto;
    width: 80%;
    
    height: 80%;
   
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    
}


/* font entry*/
.itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  p{
    position: absolute;
    font-size: 35px;
    top: 80px;
    left: 40px;
}
p1{
    text-indent: 2em;
    padding-left: 10px;
    line-height: 20px;
    font-size: 19px;
}
p2{
    padding-left: 10px;
    line-height: 20px;
    font-size: 21px;
}

h1{
    font-size: 50px;
    position: absolute;
width: max-content;

top: 15px;
left: 40px;
}
h1::before{
    content: "";
    position:absolute;
    background: linear-gradient(to right, red, rgb(68, 0, 253));
    width: 430px;
    height: 7px;
    top: 65px;
    left:0px    ;
    opacity: 0.3;
}
h2{    
    font-size: 35px;
    background: linear-gradient(to right,blue,rgb(0, 250, 21));
    width: 550px;
    height: 40px;
  padding-top: 25px;
  margin-top: 0px;
  padding-left: 10px;
  margin-bottom: 10px;
    text-align: start;
    color: #f0f0f0;
}

/* block */
#image-box{
position: absolute;
top: 40px;
right: 25px;
}

#image{
    border-width: 5px;
border-style: solid;
}

.topbox{
 position: relative;
 width: 635px;
 height: 200px;
left: -3.4%;
top: -3%;
    background-color:#f0f0f0;
}
.flex2box{
    position: absolute;
    width: 50%;
    height: 63%;
    bottom: 0;
    right: 0;
    background-color: #f0f0f0;
   
    
}


/* flex box*/

.flex-container {
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-evenly;
    position: relative;
    top: 180px;
    left: 0;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .flex-item {
   position: relative;
    background: #f0f0f0;
        padding-top: 0px;
    width: 550px;
    height: 200px;
    margin-top: 5px;
    margin-left: -10px;
    line-height: 10px;
    color: rgb(0, 0, 0);
    justify-content: center;
    justify-items: center;
    text-align: start;
  }

 /* animation*/
 @keyframes spin { 
    0% { 
        transform: rotate(360deg);
    } 
}
@keyframes opacity {
50% {
    opacity: 0;
    
}
100% {
    opacity: 1;
 
} 
}
@keyframes scale2 {
    100% {
         transform: scale(1.2,1.2)
    }
}
@keyframes scale {
    20% {
         transform: scale(0.8,0.8)
    }}



 
