

#spike-box{
    background-color: white;
    position: relative;
    mix-blend-mode:multiply;
    width: 400px;
    height: 400px;
    top: -120px;
    left: -140px;
    animation: 10s linear infinite running spin ,10s scale linear infinite;
}
#solid{
width: 120%;
position: absolute;
top: 0px;
border-width: 5px;
border-style: solid;
border-color: ladient-gradient;

}
  #solid:hover{
    animation:5s scale2 linear infinite;
  }

@keyframes spin { 
    100% { 
        transform: rotate(360deg);
    } 
}

@keyframes scale2 {
    100% {
         transform: scale(1.2,1.2)
    }
}
@keyframes scale {
    20% {
         transform: scale(0.8,0.8)
    }}
#box{
   
    position: relative;
   width: 100px; 
   height: 125px;
   top: 50px;
   left: 45%;
   
  
}


body{
    background-image: url(5.jpg);
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
#A4{
    width: 70%;
    height: 1500px;
    background-color:white;
    position: relative;
    top: 0%;
    left: 15%;
}
p{
    color: purple;
    padding-left: 3%;
    margin-right: 1%;
}
h1{
    text-align: center;
    color: blue;
font-size: 50px;
    
}
#footer{
    background-color:linear-gradient(blue,skyblue);
    width: auto;
    height: 50px;
    text-align: center;
    font-size: 50px;
    color: rgb(236, 40, 26);
    position: relative;
  

}